<nav>
    <ul>
        <li><a href="/addPlant/"> <img src="/plant.svg" alt=""></a></li>
        <li><a href="/"> <img src="/house.svg" alt=""></a></li>
        <li><a href="/profile/"> <img src="/user.svg" alt=""></a></li>

    </ul>
</nav>