<nav>
    <ul>
<<<<<<< HEAD
        <li><a href="/house"> <img src="/plant.svg" alt=""></a></li>
        <li><a href="/myHome"> <img src="/house.svg" alt=""></a></li>
        <li><a href="/profile/"> <img src="/user.svg" alt=""></a></li>
=======
        <li><a href="/newPlant/"> <img src="/plant.svg" width="60px" alt=""></a></li>
        <li><a href="/"> <img src="/house.svg" width="60px" alt=""></a></li>
        <li><a href="/profile/"> <img src="/user.svg" width="60px" alt=""></a></li>
>>>>>>> f2e63d0922ea8115ff115eb9c4fbb95ed2eb7ada

    </ul>
</nav>