<nav>
    <ul>
        <li><a href="/newPlant/"> <img src="/plant.svg" width="60px" alt=""></a></li>
        <li><a href="/"> <img src="/house.svg" width="60px" alt=""></a></li>
        <li><a href="/profile/"> <img src="/user.svg" width="60px" alt=""></a></li>

    </ul>
</nav>