<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Home</title>
    <link rel="stylesheet" href="/styletest.css" />
  </head>

  <body>
    <article class="headerflex">
      <div>
        <h1>My Home</h1>
      </div>
      <button class="buttonRoom">
        <img src="icons8-pluss.svg" alt="" />
      </button>
    </article>
    <% data.rooms.forEach(room => { %>
    <a href="/room/<%= room._id %> " class="homeRoom">
      <div class="boxshadows">
        <h3><%= room.name %></h3>
        <p><%= room.plants %> plants</p>
      </div>
    </a>
    <% }) %>
    <section id="newRoomForm">
      <div class="NewRoomFlex">
        <h1>Add Room</h1>
        <button class="buttonRoom">
          <img src="icons8x.png" alt="" />
        </button>
      </div>

      <form action="/newRoom" method="POST">
        <input type="text" name="name" id="name" placeholder="Room Name" />
        <br />
        <input type="submit" value="Add" />
      </form>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
      $(document).ready(function () {
        $("button").click(function () {
          if ($("section").first().is(":hidden")) {
            $("section").show("slow");
          } else {
            $("section").slideUp();
          }
        });
      });
    </script>

    <div class="navigation"><%-include('./partials/navigation')%></div>
  </body>
</html>
