<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styletest.css" />
</head>

<body>
    <article class="headerflex">
        <div>
            <h1>My Home</h1>
        </div>
        <div><img src="icons8-pluss.svg" alt="" /></div>
    </article>
    <% data.rooms.forEach(room => { %>
    <a href="/room/<%= room._id %> " class="homeRoom">
        <div class="boxshadows">
            <h3><%= room.name %></h3>
            <p>4 plants</p>
        </div>
    </a>
    <% }) %>
    <section class="newRoomForm">
      <div class="NewRoomFlex">
        <h1>Add Room</h1>
        <img src="icons8x.png" alt="" />
      </div>

      <form action="/newRoom" method="POST">
        <input type="text" name="name" id="name" placeholder="Room Name" />
        <br />
        <input type="submit" value="Add" />
      </form>
    </section>
    <div class="navigation"><%-include('./partials/navigation')%></div>
</body>

</html>