<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700;900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>

<body>

    <section id="new">

        <form action="/newPlant/5f86b421013e6206bb7d6a51" method="POST">
            <h1>Add Plant</h1>
            <input type="text" name="name" id="name" placeholder="Plant name">
            <input type="text" name="species" id="species" placeholder="Species">
            <input type="text" name="picture" id="picture" placeholder="picture">
            <p>Watering Schedule</p>
            <div class="weekDays-selector">
                <input type="checkbox" name="schedule" id="weekday-mon" value="Montag">
                <label for="weekday-mon">M</label>
                <input type="checkbox" name="schedule" id="weekday-tue" value="Dienstag">
                <label for="weekday-tue">T</label>
                <input type="checkbox" name="schedule" id="weekday-wed" value="Mittwoch">
                <label for="weekday-wed">W</label>
                <input type="checkbox" name="schedule" id="weekday-thu" value="Donnerstag">
                <label for="weekday-thu">T</label>
                <input type="checkbox" name="schedule" id="weekday-fri" value="Freitag">
                <label for="weekday-fri">F</label>
                <input type="checkbox" name="schedule" id="weekday-sat" value="Samstag">
                <label for="weekday-sat">S</label>
                <input type="checkbox" name="schedule" id="weekday-sun" value="Sonntag">
                <label for="weekday-sun">S</label>
            </div>
            <input type="submit" value="Add">


        </form>
    </section>
</body>

</html>