<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/newPlant/5f85ad49baf1527db9cb6c2f" method="POST">
        <input type="text" name="name" id="name" placeholder="name">
        <input type="text" name="species" id="species" placeholder="species">
        <input type="text" name="picture" id="picture" placeholder="picture">
        <input type="checkbox" name="schedule" id="mon" value="mon">
        <input type="checkbox" name="schedule" id="tue" value="tue">
        <input type="checkbox" name="schedule" id="wed" value="wed">
        <input type="checkbox" name="schedule" id="thu" value="thu">
        <input type="checkbox" name="schedule" id="fri" value="fri">
        <input type="checkbox" name="schedule" id="sat" value="sat">
        <input type="checkbox" name="schedule" id="sun" value="sun">
        <input type="submit" value="submit">
    </form>
</body>

</html>